#matrix {
  width:640px;
  height:640px;
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
}

#matrix .cell {
  float: left;
  width: 19px;
  height: 19px;
  border-top: 1px solid blue;
  border-left: 1px solid blue;
}
